# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Entornos virtuales
venv/
env/

# Django
*.log
media/

# Node
node_modules/
dist/
build/

# Vite
.vite/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Variables de entorno
.env